name: Build and Push Container Images

on:
  push:
    tags: '*'
  repository_dispatch:
    types: [trigger-build]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Containerfile
          push: ${{ github.ref_type == "tag" }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}

      - name: Install Helm
        uses: azure/setup-helm@v3
        if: ${{ github.ref_type == "tag" }}

        # https://helm.sh/docs/topics/registries/
      - name: Package and Push Chart as OCI artifact
        if: ${{ github.ref_type == "tag" }}
        run: |
          sed -i -E 's/appVersion: (.+)$/appVersion: ${{ github.ref_name }}/' chart/Chart.yaml
          helm package ./chart
          helm push ./chart-*.tgz oci://ghcr.io/${{ github.repository }}/charts
